<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">

      <title>TheOnionBay</title>
      <meta name="description" content="TheOnionBay tracker">
      <meta name="author" content="TheOnionBay">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>

   <body>
      <div class="container">
         <div class="row">
            <div class="col s12">
               <h1>Node: {{data["ip"]}}</h1>
               <div class="card" style="height: 400px; overflow: scroll;">
                  <div class="card-content">
                     <span class="card-title">Log</span>
                     <pre style="word-wrap: break-word">{{data["log"]}}</pre>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <button data-target="modal1" class="btn modal-trigger" id="btn-1">Up Relay</button>
         <div id="modal1" class="modal modal-fixed-footer">
         <div class="modal-content">
            <pre>{{data["up_relay"]}}</pre>
         </div>
         <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effet waves-green btn-flat">Agree</a>
         </div>
         </div>

         <button data-target="modal2" class="btn modal-trigger" id="btn-1">Down Relay</button>
         <div id="modal2" class="modal modal-fixed-footer">
         <div class="modal-content">
            <pre>{{data["down_relay"]}}</pre>
         </div>
         <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effet waves-green btn-flat">Agree</a>
         </div>
         </div>

         <button data-target="modal3" class="btn modal-trigger" id="btn-1">Up File Transfert</button>
         <div id="modal3" class="modal modal-fixed-footer">
         <div class="modal-content">
            <pre>{{data["up_file_transfer"]}}</pre>
         </div>
         <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effet waves-green btn-flat">Agree</a>
         </div>
         </div>

         <button data-target="modal4" class="btn modal-trigger" id="btn-1">Down File Transfer</button>
         <div id="modal4" class="modal modal-fixed-footer">
         <div class="modal-content">
            <pre>{{data["own_file_transfer"]}}</pre>
         </div>
         <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effet waves-green btn-flat">Down File Transfer</a>
         </div>
         </div>
      </div>



      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>M.AutoInit();</script>
   </body>
</html>
